<nav>
    <ul>
        <%navData.forEach(elt=>{%>
        <li>
            <a href="<%=elt.url%>"><%=elt.name%></a>
        </li>
        <%})%>
    </ul>
    <!-- <li><a href="">Home</a></li>
    <li><a href="">Team</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Contact</a></li> -->
</nav>